[submodule "amuzik-blog"]
	path = amuzik-blog
	url = https://github.com/hmarort/amuzik-blog
[submodule "amuzik-project"]
	path = amuzik-project
	url = https://github.com/hmarort/amuzik-project
[submodule "chat-server"]
	path = chat-server
	url = https://github.com/hmarort/chat-server
[submodule "amuzikApi"]
	path = amuzikApi
	url = https://github.com/hmarort/amuzikApi
