<ion-header>
  <ion-toolbar>
    <ion-title>Pruebas API YouTube</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="search()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let song of musicResults">
      <ion-thumbnail slot="start">
        <img [src]="song.snippet.thumbnails.medium.url" alt="Portada">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ song.snippet.title }}</h2>
        <p>{{ song.snippet.channelTitle }}</p>
      </ion-label>
      <ion-button (click)="playAudio(song.id.videoId)">▶</ion-button>
    </ion-item>
  </ion-list>

  <!-- Reproductor oculto -->
  <div id="youtube-player"></div>

  <ion-button expand="full" color="danger" (click)="pauseAudio()">Pausar</ion-button>
</ion-content>